<table>
	<tr>
		<td class="title"><%= name %></td>
		<!-- <td class="edit-link"><span>edit</span></td> --> 
	</tr>
</table>
<table>
	<tr>
		<td class="inputs">
		</td>
		<td class="outputs">
		</td>
	</tr>
</table>