<div class="mac-button newproject">Create a new project</div>
<div class="mac-button introspect">Load running project</div>
<% _.each(names, function(name){ %>
  <div class="project"><span class="project-link"><%= name %></span></div>
<% }); %>
<% if(names.length == 0) %>
  <div class="noproject">No Projects yet</div>

